.App {
  margin: 16px;
  padding: 4px;
}

.inputText {
  width: 60%;
}

.showLineLength {
  margin: 16px auto;
  border: 1px solid #eee;
  padding: 16px;
  box-shadow: 0 2px 3px #ccc;
}

.Validation {
  padding: 16px;
}
